<% if @question %>
  <h1><%= @question.question %></h1>
<% end %>

<% if @current_user %>
  <h2>Answer the question:</h2>
  <form action="/answer/<%= @question.id %>" method="post">
    <textarea name="answer"></textarea>
    
    <button type="submit">Answer</button>
  </form>
<% end %>

<% if @answers %>
  <ul>
    <% @answers.each do |answer| %>
      <li><%= answer.answer %></li>
    <% end %>
  </ul>
<% end %>