<form id="registrationForm" method="post" action="/signup">
  <p>Jugador 1: <input type="text" name="player1"></p>
  <p>Jugador 2: <input type="text" name="player2"></p>
  <input type="submit">
</form>