<h1 id="main-title">¡RAYUELA!</h1>
    <button id="start_btn">Jugar</button><br><br>

    <table class="table" data-game="<%= @current_game %>">
      <tr id="Player1" data-player="<%= @player1 %>">
        <td id="player1"><strong>Jugador 1</strong></td>
        <td class="active"></td>
        <td></td>
      </tr>

      <tr id="Player2" data-player="<%= @player2 %>">
        <td id="player2"><strong>Jugador 2</strong></td>
        <td class="active"></td>
        <td></td>
      </tr>
</table>

